<h3 class="text-center">Create New Client</h3><br/>
<div class="shadow-lg p-3 mb-5 bg-body rounded border border-success ">
<form [formGroup]="clientForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="mb-3">
        <label >NomClient</label>
        <input type="text" formControlName="NomClient" class="form-control" placeholder="Nom Client" required>
    </div>
    <div class="mb-3">
        <label >Address</label>
        <input type="text" formControlName="Address" class="form-control" placeholder="Address" required>
    </div>

    
    <div class="mb-3">
        <label>Type</label>
        <input class="form-check-input mx-3" type="radio" id="client" value="client" formControlName="type" >
        <label class="form-check-label" for="client" >
            client
        </label>
        <input class="form-check-input mx-3" type="radio" id="guest" value="guest" formControlName="type"  >
        <label class="form-check-label" for="guest" >
            guest
        </label>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success " [disabled]="!clientForm.valid">Create</button>
        <button type="reset" class="btn btn-danger mx-2">Reset</button>
    </div>
</form>
</div>