<h3 class="text-center">List Client</h3><br/>
<table class="table">
    <thead class="bg-success text-white">
      <tr>
        <th scope="col">NomClient</th>
        <th scope="col">Address</th>
        <th scope="col">Type</th>
        <th scope="col">Prix Totale</th>
        <th>Delete | Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of client;let i=index">
        <td>{{client.NomClient}}</td>
        <td>{{client.Address}}</td>
        <td>{{client.type}}</td>
        <td>{{client.Solde}}</td>
        <td>
            <span (click)="removeClient(client)" class="btn btn-danger btn-sm">Delete</span>&nbsp;
            <span routerLink="/update-client/{{client.id}}" class="btn btn-primary btn-sm">Edit</span>&nbsp;
        </td>
      </tr>
    </tbody>
  </table>