
<div class="border-end border-bottom shadow-lg border-danger p-2 rounded backImage">
    <h1 class="text-center text-white pad" >ROOM RESERVATION SYSTEM</h1>
    <h3 class="pad1  text-center">Get What You Need</h3>
</div>
<br/>
<div>
    <h2 class="container text-center">Choose The Plan That Fits Your Property?</h2><br/>
    <div class="container">
        <div class="row ">
            <div class="col border-bottom border-end border-danger shadow-lg mx-2 bg-light">
                <h2 class="text-center py-3">CLIENT</h2>
                <h4 class="text-center">ALL THE ESSENTIALS</h4>
                <br/>
                <h1 class="text-center text-danger ">100DH</h1>
                <h5 class="text-center text-danger">/DAY</h5>
                <br/>
                <div class="text-center">
                <p>
                    Breakfast<br/>
                    Car park<br/>
                    Book of tickets or passes (metro, museum, etc.)<br/>
                    Flowers<br/>
                    Restaurant<br/>
                    Room with special view<br/>
                    Spa / Hammam / Massage<br/>
                    Shuttle / Shuttle / Private bus<br/>
                    The best amenities<br/>
                    All Meals<br/>
                </p>
                
                </div>
                <br/>
                <br/>
            </div>

            <div class="col border-bottom border-end border-danger shadow-lg bg-light ">
                <h2 class="text-center py-3">GUEST</h2>
                <h4 class="text-center">THE ALL-INCLUSIVE PLAN</h4>
                <br/>
                <h1 class="text-center text-danger ">180DH</h1>
                <h5 class="text-center text-danger">/DAY</h5>
                <br/>
                <div class="text-center">
                    <p>
                    International adapter<br/>
                    City map<br/>
                    Bottle of water<br/>
                    Ironing kit<br/>
                    Extra pillows in the room<br/>
                    Luggage storage<br/>
                    Beauty essentials: hair dryer, shaving kit, etc.<br/>
                    Welcome tray in the room / Courtesy tray<br/>
                    Baby / child essentials (cot, high chair, etc.)<br/>
                    Concierge service (alarm clock, reservations, advice, etc.)<br/>
                    </p>
                </div>
                <br/>
                <br/>
            </div>
        </div>
    </div>
    
</div>
